version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run: pip install pytest
      - run: pytest test_add.py

workflows:
  main:
    jobs:
      - test
